<?xml version="1.0" encoding="UTF-8" ?>
<!-- 이 밑에 두 줄은 공식 문서에서 복사해오면 됨  -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- tag 작성하는 순서가 있음 -->
<configuration>

	<properties resource="mapper/dbinfo.properties"/> <!-- db 설정에 관한 값들 => db 설정 -->

	<!-- 별칭 지어주기 -->
	<typeAliases>
		<typeAlias type="com.ssafy.board.model.BoardDto" alias="boardDto" />
		<typeAlias type="com.ssafy.board.model.FileInfoDto" alias="fileInfoDto" />
		<typeAlias type="com.ssafy.member.model.MemberDto" alias="memberDto" />
	</typeAliases>
	
	<!-- DB 연결 -->
	<!-- properties 읽어와서 설정 -->
	<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${dbid}"/>
                <property name="password" value="${dbpwd}"/>
            </dataSource>
        </environment>
    </environments>
    
    <!--<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="JNDI">
                <property value="java:comp/env/jdbc/ssafy" name="data_source"/>
            </dataSource>
        </environment>
    </environments>-->
    
    <!-- 밑 파일들에 SQL문 작성 -->
    <!-- mapper file 경로 설정 -->
    <mappers>
		<mapper resource="mapper/member.xml" />
		<mapper resource="mapper/board.xml" />
	</mappers>
	
</configuration>
