<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <my-count></my-count>
      <log></log>
    </div>

    <template id="mycount">
      <div>
        <input type="number" v-model.number="count" @keyup.enter="send" />
        <button @click="send">보내기</button>
      </div>
    </template>

    <template id="log">
      <div>
        <h2>{{count}}</h2>
        <ul>
          <li v-for="msg, index in list" :key="index">{{msg}}</li>
        </ul>
      </div>
    </template>

    <script>
      // 4개의 Vue 객체

      // (1) => 이벤트 등록된 곳은 bus
      const bus = new Vue(); // app과 동등한 관계 => 밖에 있는

      // (2)
      Vue.component("my-count", {
        template: "#mycount",
        data() {
          return {
            count: 0,
          };
        },
        methods: {
          send() {
            bus.$emit("updateLog", this.count); // bus라는 객체에 이벤트 발생 중
            this.count = "";
          },
        },
      });

      // (3)
      Vue.component("log", {
        template: "#log",
        data() {
          return {
            count: 0,
            list: [],
          };
        },
        methods: {
          updateLog(data) {
            this.count += data;
            this.list.push(`${data}을 받았습니다.`);
          },
        },
        created: function () {
          bus.$on("updateLog", this.updateLog); // bus라는 객체에 이벤트 리슨 중
        },
      });

      // (4)
      new Vue({
        el: "#app",
      });
    </script>
  </body>
</html>
