<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>0916_JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- Map마냥 key-value 쌍 -> 초기화 params.. db url, 등 등... 그런 정보들 저장해놓우면 됨
	근데 그렇게 쓸거며는 커밋하지말긔...^^ -->
  <context-param>
  	<param-name>name</param-name>
  	<param-value>ssafy</param-value>
  </context-param>
  <context-param>
  	<param-name>pwd</param-name>
  	<param-value>1234</param-value>
  </context-param>
</web-app>